## Get familiar with the data

Climate normals are arithmetic averages of measured or observed meteorological elements. The general recommendation of the World Meteorological Organisation (WMO) is to use 30-year periods of reference. The current climatological standard normal period is 1991–2020. These long-term averages are used to describe the climate of an area. They are also used to compare the actual weather conditions occurring in a region with the average expected climate. This international coordination and standardisation enables comparisons of climate and climatological reports across national boundaries. 

Parameter description:

    NM_T (°C): MEAN AIR TEMPERATURE AT 2 M
    NM_XT (°C): MEAN DAILY MAXIMUM AIR TEMPERATURE AT 2 M
    NM_NT (°C): MEAN DAILY MINIMUM AIR TEMPERATURE AT 2 M
    NM_RR06_06 (mm): AMOUNT OF PRECIPITATION 05:46 UTC (M, D) TO 05:45 UTC (M+1, D+1)
    NM_INS (hours): SUNSHINE DURATION
    NM_U (%): MEAN RELATIVE HUMIDITY AT 2 M
    NM_QFF (hPa): MEAN ATMOSPHERIC AIR PRESSURE REDUCED TO MEAN-SEA LEVEL
    NM_ODRR01 (days): MEAN NUMBER OF DAYS WITH PRECIPITATION GREATER EQUAL 0.1 MM
    NM_OFOG (days): MEAN NUMBER OF DAYS WITH FOG
    NM_OCASETHSTORM (cases): MEAN NUMBER OF CASES WITH OCCURRENCE OF THUNDERSTORM
    NM_OGLAZE (days): MEAN NUMBER OF DAYS WITH FREEZING PRECIPITATION
    NM_OSNOW (days): MEAN NUMBER OF DAYS WITH SNOWFALL
    NM_OGROUNDSNOW (days): MEAN NUMBER OF DAYS WITH SNOW COVER ON THE GROUND
    NM_ODXT25 (days): MEAN NUMBER OF SUMMER DAYS (= MAXIMUM TEMPERATURE GREATER EQUAL 25 °C)
    NM_ODXT30 (days): MEAN NUMBER OF HOT DAYS (= MAXIMUM TEMPERATURE GREATER EQUAL 30 °C)
    NM_ODNT0 (days): MEAN NUMBER OF FROST DAYS (= MINIMUM TEMPERATURE SMALLER THAN 0 °C)
    NM_0DXT0 (days): MEAN NUMBER OF ICE DAYS (= MAXIMUM TEMPERATURE SMALLER THAN 0 °C)

File format: CSV file sep=;
Resources
* 06590-climate-normals-luxfindel-1991-2020.csv
* 06590-climate-normals-luxfindel-1981-2010.csv

## Load data and print head

In [ ]:
import pandas as pd
df_91_20=pd.read_csv('https://data.public.lu/fr/datasets/r/850ca2c2-88c5-4518-bf57-3fec2008821d',delimiter=";", encoding = "ISO-8859-1")
df_81_10=pd.read_csv('https://data.public.lu/fr/datasets/r/4f4c8a32-84bf-4098-95eb-696e7e4ba3ec',delimiter=";", encoding = "ISO-8859-1")

In [ ]:
df_91_20.head()

             MONTH   JAN   FEB    MAR    APR  ...    AUG    SEP    OCT   NOV   DEC
0        NM_T (°C)   1.4   2.2    5.7    9.6  ...   18.4   14.3    9.9   5.2   2.3
1       NM_XT (°C)   3.8   5.2    9.8   14.4  ...   23.5   19.0   13.5   7.7   4.5
2       NM_NT (°C)  -1.0  -0.7    2.0    5.1  ...   13.6   10.3    6.6   2.8   0.0
3  NM_RR06_06 (mm)  71.5  59.5   56.6   49.4  ...   71.9   66.6   76.2  71.7  89.5
4   NM_INS (hours)  52.0  79.5  137.1  197.5  ...  237.1  174.9  106.7  51.1  41.9

[5 rows x 13 columns]

In [ ]:
df_81_90.head()

             MONTH   JAN   FEB    MAR    APR  ...    AUG    SEP    OCT   NOV   DEC
0        NM_T (°C)   0.8   1.6    5.2    8.7  ...   17.7   13.9    9.5   4.7   1.8
1       NM_XT (°C)   3.1   4.7    9.1   13.3  ...   22.8   18.4   13.1   7.3   3.9
2       NM_NT (°C)  -1.6  -1.3    1.6    4.4  ...   13.0   10.0    6.3   2.2  -0.5
3  NM_RR06_06 (mm)  76.6  62.5   69.1   58.2  ...   75.4   76.3   86.8  76.0  86.7
4   NM_INS (hours)  50.3  83.6  125.1  181.6  ...  230.8  161.9  105.9  54.2  41.0

[5 rows x 13 columns]

## For both the dataframes, rename the column "MONTH" to "Parameters" and make it the index

## Check the datatypes of each column and change non-numeric columns to numeric

## Line-plot temperatures (in a single chart) and bar-plot humidity parameters

## Find quarterly (3 month wise) differences of the parameters between 81-10 vs 91-20

## Write codes to check the following statements if they are True or False

### Quarterly mean temperature is not affected by climate change

### Fog is decreasing in the winter months (Dec-Mar) between decades

### Precipitation (rain) pattern is changing between decades

## Find out the three most changed parameters and three least changed parameters in the quarterly (3 month wise) differences

## Is there any correlation between the most changes parameters

## Create a common dataframe (df_temp_81_20) with only month-wise mean temperature and precipitation taken from both 81-10 vs 91-20 dataframes, now the month will be the row-index.

## Create a visualisation where the monthly mean temperature can be compared between 81-10 and 91-20